.advantages__wrapper {
  outline: 1px solid red;//временно для разметки
  width: auto;
  text-align: center;
}
.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.advantages__item {
  outline: 1px solid red;//временно для разметки
}

.advantages__description {
  width: 230px;
  text-align: center;
}
