.user-list__login {
  position: relative;
  display: block;
  padding: 17px 21px 17px 49px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    top: 17px;
    left: 21px;
    width: 16px;
    height: 16px;
    background-image: url("../img/login.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
  }
}
@media (min-width: $tablet-width) {
  .user-list {
    width: 60px;
  }

  .user-list__login {
    width: 60px;
    height: 70px;
    padding: 0;
    font-size: 0;

    &::before {
      background-image: url("../img/login.png");
      top: 27px;
      left: 23px;
      opacity: 0.3;
    }

    &:hover::before {
      background-image: url("../img/login-desktop-hover.png");
      top: 29px;
      left: 12px;
    }

    &:active::before {
      background-image: url("../img/login-desktop-down.png");
    }
  }
}
@media (min-width: $desktop-width) {
  .user-list {
    width: auto;
    max-width: 160px;
  }

  .user-list__login {
    position: relative;
    width: auto;
    height: auto;
    padding: 25px 30px 23px 50px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      color: #000000;
      background-color: #ffffff;
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
      background-color: #ffffff;
    }

    &::before {
      background-image: url("../img/login.png");
      top: 27px;
      left: 23px;
      opacity: 0.3;
    }

    &:hover::before {
      background-image: url("../img/login-desktop-hover.png");
      top: 27px;
      left: 23px;
    }

    &:active::before {
      background-image: url("../img/login-desktop-down.png");
    }
  }
}
